<a href="https://colab.research.google.com/github/cdrood47/fe/blob/master/2%EC%9D%BC%EC%B0%A8_2%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=input('당신의 이름을 입력하시오')
a

당신의 이름을 입력하시오11

'11'

In [2]:
b=input('당신의 나이')
b

당신의 나이18

'18'

In [3]:
type(b)

str

In [5]:
c=int(b)
c,type(c)

(18, int)

In [10]:
year=int(input('출생년도를 입력하세요'))
print('너는', year,'년에 태어났군요')
age= 2020-year+1
print('당신의 나이는 ' , age, '세 입니다.')

출생년도를 입력하세요2002
너는 2002 년에 태어났군요
당신의 나이는  19 세 입니다.

**Format서식지정자**

In [11]:
s='a is {}'
s.format('apple')

'a is apple'

In [13]:
a= '%s %d 개 기격은 %.2f 달라'
b= a %('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 기격은 %.2f 달라
햄버거 2 개 기격은 8.00 달라

In [16]:
a= '%s %d 개 기격은 %d 원'
b= a %('치킨', 2, 20000*2)
print(a)
print(b)

%s %d 개 기격은 %d 원
치킨 2 개 기격은 40000 원